Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: :memo: update Readme
  .github/workflows/test.yml
  README.md
  src/index.ts
Due: prettier --write, eslint --fix

chore: :hammer: update pre-commit script
  .husky/pre-commit
  dist/index.js
Due: eslint --fix

chore: :package: add release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  dist/index.d.ts
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  859b3a976b92275b320c154a3c696c4d91c98fcf
Due: none

chore: :package: fix release workflow
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  93558511f3ae0440fd26f4f32fb8a699a0cfdcd1
Due: none

feat: :lipstick: update branding
  .github/workflows/release.yml
  action.yml
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  cd6410ed8cefc787012b58e80c58660021125107
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  66480a305a3e8dc6e645d59d23aca00fbca39dd1
Due: none

fix: :package: use local semantic release
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: :bug: add missing npm token
  .github/workflows/release.yml
Due: prettier --write

fix: force feat version bump
  package-lock.json
  package.json
Due: eslint --fix

fix: :memo: add link to readme
  README.md
Due: prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  dabc7e8b87dcbdf623cb07cde3950ed880a5cc43
Due: none

chore(deps): :arrow_up: update dependency typescript to ^4.2.4
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update all non-major dependencies
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency eslint-plugin-jsdoc to ^35.4.0
  package-lock.json
  package.json
Due: eslint --fix

feat: :sparkles: restore and save cache, install when needed
  dist/index.d.ts
  dist/index.js
  dist/thread.js
  package-lock.json
  package.json
  src/index.ts
  src/quote.d.ts
Due: eslint --fix

fix: :bug: fix path of .npm cache
  dist/index.js
  src/index.ts
Due: eslint --fix

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  91aa2c4edcc33813da5eab14a0a3e2d03041fd9d
Due: none

feat: :sparkles: add rolling cache
  README.md
  dist/index.js
  dist/lib/cache.d.ts
  dist/lib/cache.js
  src/lib/cache.ts
Due: prettier --write, eslint --fix

refactor: :recycle: split into separate files
  dist/index.js
  dist/lib/cache.d.ts
  dist/lib/cache.js
  dist/lib/hash.d.ts
  dist/lib/hash.js
  dist/lib/npm.d.ts
  dist/lib/npm.js
  dist/lib/package-json.d.ts
  dist/lib/package-json.js
  src/index.ts
  src/lib/cache.ts
  src/lib/hash.ts
  src/lib/npm.ts
  src/lib/package-json.ts
Due: eslint --fix

feat: :sparkles: consider platform and arch
  .github/workflows/ci.yml
  .github/workflows/release.yml
  dist/index.js
  dist/lib/cache.d.ts
  dist/lib/cache.js
  src/lib/cache.ts
Due: prettier --write, eslint --fix

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  9f53cbebc0bc91630a1850da8c743d74ed720f8d
Due: none

docs: :memo: update readme
  .releaserc.json
  README.md
  package.json
Due: prettier --write, eslint --fix

ci: :hammer: improve release workflow
  .github/workflows/release.yml
Due: prettier --write

ci: :green_heart: fix release workflow
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write, eslint --fix

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
