Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  07bccbba18d18f077c8810164992af961339aedd
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to ^3.0.4
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7b359d2fe180731e0111c1f96b91fc53cf391bb9
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @commitlint/cli to ^17.1.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency typescript to ^4.8.3
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/github to ^5.1.0
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
