Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: run CI on push only for main branch
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): :arrow_up: update dependency semantic-release to v18
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency semantic-release to v18 (#86)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update semantic-release monorepo
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update semantic-release monorepo (#88)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.2.7
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency eslint-plugin-unused-imports to ^1.1.5
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/setup-node action to v2.4.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :arrow_up: update client tooling to ^4.32.0
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.2.8
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 1.7.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  9b7792931a5f1ba0ccdf2fec9e144f6d270d4a8d
Due: none

chore(deps): :arrow_up: update client tooling to ^4.33.0
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency lint-staged to ^11.2.0
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.2.9
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency eslint-plugin-jsdoc to ^36.1.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency eslint-plugin-import to ^2.25.2
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
