Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.1.0
  package-lock.json
  package.json
Due: eslint --fix

chore: :lipstick: use shared prettier config
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: eslint --fix

chore: :hammer: update prettier ignore files
  .prettierignore
Due: none

chore: :lipstick: add format script
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency husky to v7
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency husky to v7 (#13)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.1.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/setup-node action to v2.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.1.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update client tooling to ^12.3.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @ng-easy/eslint-config to ^3.1.3
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/setup-node action to v2.3.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.1.3
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency eslint-plugin-jsdoc to ^35.5.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency lint-staged to ^11.1.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update commitlint monorepo to v13
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update commitlint monorepo to v13 (#23)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency eslint-plugin-jsdoc to v36
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency eslint-plugin-jsdoc to v36 (#25)
  package-lock.json
  package.json
Due: eslint --fix

chore: :package: setup nightly release
  .github/workflows/release.yml
Due: prettier --write

chore: :package: setup nightly release (#26)
  .github/workflows/release.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
