Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  768d47bdfb586599c1d823ea81c10e8a9caf1201
Due: none

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @commitlint/cli to ^16.3.0
  package-lock.json
  package.json
Due: eslint --fix

ci: run CI for Renovate branches
  .github/workflows/ci.yml
Due: prettier --write

ci: run CI for Renovate branches (#242)
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): :arrow_up: update actions/setup-node action to v3.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :arrow_up: update commitlint monorepo to v17
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update commitlint monorepo to v17 (#245)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to ^2.0.5
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4745177cd446245151e19456cda4da73ae71ff98
Due: none

chore(deps): :arrow_up: update npm to v8.11.0 [security]
  package-lock.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency lint-staged to v13
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency lint-staged to v13 (#256)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @types/jest to v28
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @types/jest to v28 (#254)
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
