Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency typescript to ^4.9.3
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :lock: refresh
  package-lock.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @semantic-release/changelog to ^6.0.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency lint-staged to ^13.1.0
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/checkout action to v3.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

fix(deps): :arrow_up: update dependency @actions/cache to ^3.1.0
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c21a344b5df4879b6432e6a2902d57ba1950c50c
Due: none

fix(deps): :arrow_up: update dependency @actions/cache to ^3.1.1
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4d48cd573e457a9387098d639c8d4fa294a60d45
Due: none

fix(deps): :arrow_up: update dependency @actions/cache to ^3.1.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update github actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): :arrow_up: update dependency semantic-release to v20
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency semantic-release to v20 (#349)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies to ^17.4.2
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
