Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{yml,md}": ["prettier --write"],
  "*.{js,json,ts}": ["eslint --fix"]
}

chore(deps): :lock: refresh client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :lock: refresh
  package-lock.json
Due: eslint --fix

chore(release): :package: 1.8.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  99b174b8b8fbe5603ec1a5ed9606d3752cfc4d6a
Due: none

fix(deps): :arrow_up: update dependency @actions/github to ^5.0.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update npm to ^8.5.5
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 1.8.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c62f00bbac1baa8cfc7457dfcf27cbc450c39d9e
Due: none

chore(deps): :arrow_up: update actions/setup-node action to v3.1.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :arrow_up: update dependency @angular/compiler to ^13.3.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^13.3.2
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to ^2.0.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @angular/compiler to ^13.3.2 (#210)
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to ^2.0.2 (#211)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update npm to ^8.6.0
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 1.8.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4ecd49aeecb2f45f430bf3dce9f507e920b5bdf5
Due: none

chore(deps): :arrow_up: update dependency eslint-plugin-jsdoc to v39
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): update dev deps
  dist/main/index.js
  dist/post/index.js
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): update dev deps (#215)
  dist/main/index.js
  dist/post/index.js
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update github actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

fix(deps): :arrow_up: update dependency fs-extra to ^10.1.0
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 1.8.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix
