Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{yml,md}": ["prettier --write"],
  "*.{js,json,ts}": ["eslint --fix"]
}

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2c95b1cb36f9221a5cf86a5a5b41d2a15409b467
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/setup-node action to v3.4.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :arrow_up: update dependency ts-jest to ^28.0.7
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to ^3.0.1
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  743987943c79b22fd0a5879b4633eab1404278a2
Due: none
