Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  4ab45a80e51dbf61aac8a2ce2092aa014da18550
Due: none

chore(node): :arrow_up: update node to v16 and npm to v8.5
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .vscode/settings.json
  dist/main/index.js
  dist/post/index.js
  package-lock.json
  package.json
  src/index.spec.ts
  src/main.ts
  src/post.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: :sparkles: include node version in cache key
  dist/main/index.js
  dist/post/index.js
  src/lib/cache.ts
  src/lib/npm.ts
Due: eslint --fix

test: :white_check_mark: accept empty tests
  package.json
Due: eslint --fix

chore(node): :arrow_up: update node to v16 and npm to v8.5 (#221)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .vscode/settings.json
  dist/main/index.js
  dist/post/index.js
  package-lock.json
  package.json
  src/index.spec.ts
  src/lib/cache.ts
  src/lib/npm.ts
  src/main.ts
  src/post.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(release): :package: 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  40f59403132eb7d629a1f36ef611f26a3bf04cd2
Due: none

chore: :pushpin: use peer dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore: :pushpin: use peer dependencies (#224)
  package-lock.json
  package.json
Due: eslint --fix

docs: :memo: add renovate badge
  README.md
Due: prettier --write

chore(deps): :arrow_up: update actions/checkout action to v3.0.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency lint-staged to ^12.4.0
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @ng-easy/prettier-config to v5
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @ng-easy/prettier-config to v5 (#229)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/core to ^1.7.0
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  49f04c461c8f02a8266e894fcc03d525b4a77451
Due: none

chore(deps): :arrow_up: update dependency @types/jest to ^27.5.0
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/core to ^1.8.0
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4a28936316bda447fde8d41ff9dd3213f03a9c77
Due: none

chore(deps): :arrow_up: update jest monorepo
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update jest monorepo (#231)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency ts-jest to ^28.0.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency husky to v8
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency husky to v8 (#236)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency @types/jest to ^27.5.1
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
