Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: :bug: set tsconfig target to es6
  dist/main/index.js
  dist/post/index.js
  tsconfig.json
Due: eslint --fix

fix: :bug: log dependencies
  dist/main/index.js
  dist/post/index.js
  src/lib/package-json.ts
Due: eslint --fix

feat(angular): cache angular artifacts (#185)
  README.md
  dist/main/index.js
  dist/post/index.js
  package.json
  src/lib/angular.ts
  src/lib/cache.ts
  src/lib/cypress.ts
  src/lib/package-json.ts
  src/main.ts
  src/post.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a17e549f11051a417ff80d2b72889d74ee50fe3a
Due: none

chore(release): :package: 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update client tooling (#183)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/setup-node action to v3
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :arrow_up: update actions/setup-node action to v3 (#189)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): :lock: refresh client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :lock: refresh
  package-lock.json
Due: eslint --fix

chore(release): :package: 1.8.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7242b8fbe75b45b18e546c5b98dcb7bc83bed26d
Due: none

chore(deps): :arrow_up: update npm to ^8.5.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/checkout action to v3
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): :arrow_up: update actions/checkout action to v3 (#195)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): :arrow_up: update dependency @angular/compiler to ^13.2.6
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): update dependencies
  dist/main/index.js
  dist/post/index.js
  package-lock.json
  package.json
Due: eslint --fix

fix: :bug: stop using parent module
  dist/main/index.js
  dist/post/index.js
  src/main.ts
  src/post.ts
Due: eslint --fix

fix(deps): update dependencies (#200)
  dist/main/index.js
  dist/post/index.js
  package-lock.json
  package.json
  src/main.ts
  src/post.ts
Due: eslint --fix

chore(deps): :lock: refresh (#198)
  package-lock.json
Due: eslint --fix

Notes added by 'git notes add'
  a84281fef8e2d1aab6919657cccb468041cf791d
Due: none

chore(release): :package: 1.8.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to v2
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to v2 (#203)
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
