Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): :arrow_up: update dependency @types/jest to ^28.1.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency semantic-release to v19.0.3 [security]
  package-lock.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to ^2.0.6
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  078826409f6dce39152526c64b4b15ec09ac2242
Due: none

chore(deps): :arrow_up: update actions/setup-node action to v3.3.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

fix(deps): :arrow_up: update dependency @actions/core to ^1.9.0
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  29e4888d550374aae4b282221ac5d99681e134ed
Due: none

fix(deps): :arrow_up: update dependency @actions/cache to v3
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency @actions/cache to v3 (#274)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies to ^17.0.3
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
