Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  32be52de31153ff9700e5a77322b1f6b887a846e
Due: none

fix: :green_heart: restore installation of dependencies to semantic release
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  fbc235b5d5b90c1fc1b8c0b6c687044eb4472323
Due: none

fix: :hammer: update tag with latest major version
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.5.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2c1c696654d111856a6fe19327f6913c6aad0e32
Due: none

fix: :green_heart: fix release tag command
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.5.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  fffa274ecf43b73a77773859787feaa69abc0c4c
Due: none

fix: :green_heart: fix push of tags when releasing
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.5.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  74035645312f43e1085a8874ccf63eb5b36a941e
Due: none

fix: :green_heart: second try to fix push command
  .github/workflows/release.yml
Due: prettier --write

fix: :green_heart: fix release workflow by using push action
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.5.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  ec0c0db1924971ea0f78e3cfffecddd4b1cccb23
Due: none

fix: :green_heart: fix push action
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.5.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  fc339c679d5816fc0f489c15ae915a88327d0cea
Due: none

chore(deps): :arrow_up: update dependency jest to ^27.0.5
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update client tooling to ^4.28.0
  package-lock.json
  package.json
Due: eslint --fix

feat: :sparkles: cache Cypress install files
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  action.yml
  dist/index.d.ts
  dist/lib/cache.d.ts
  dist/lib/cache.js
  dist/lib/hash.d.ts
  dist/lib/hash.js
  dist/lib/npm.d.ts
  dist/lib/npm.js
  dist/lib/package-json.d.ts
  dist/lib/package-json.js
  dist/main/index.js
  dist/main/thread.js
  package.json
  src/index.ts
  src/lib/cache.ts
  src/lib/cypress.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: :sparkles: detect use of cypress
  .github/workflows/test.yml
  dist/main/index.js
  package-lock.json
  package.json
  src/lib/cache.ts
  src/lib/cypress.ts
  src/main.ts
Due: prettier --write, eslint --fix

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  3cf5691cfc5126d8508c816b4026cf485d5f8682
Due: none

feat: :sparkles: barebones for NX cache
  .github/workflows/test.yml
  README.md
  action.yml
  dist/main/index.js
  src/lib/cache.ts
  src/lib/git.ts
  src/lib/nx.ts
  src/main.ts
Due: prettier --write, eslint --fix

feat: :sparkles: add rolling cache to Nx
  .releaserc.json
  README.md
  action.yml
  dist/post/index.js
  dist/post/thread.js
  package.json
  src/lib/cache.ts
  src/main.ts
  src/post.ts
Due: prettier --write, eslint --fix

fix: :bug: skip saving cache if path doesn't exist
  dist/main/index.js
  dist/post/index.js
  src/lib/cache.ts
Due: eslint --fix

chore(release): :package: 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  366aa575be2ebf8392812127f13c9500cd573b10
Due: none

fix: :recycle: rename nx input
  .github/workflows/test.yml
  README.md
  action.yml
  dist/main/index.js
  dist/post/index.js
  src/lib/nx.ts
Due: prettier --write, eslint --fix

chore(release): :package: 1.7.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a90ccdedeb97f6297ac57e43b4d2c22c7c219bdc
Due: none

fix: :memo: fix typo in readme
  README.md
Due: prettier --write

chore(release): :package: 1.7.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e5cc43439b1b38d58809e979c44bc442e2a89ac5
Due: none

chore(deps): :arrow_up: update dependency @angular/compiler to ^12.1.0
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{yml,md}
  eslint --fix: any of: *.{js,json,ts}
