Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{yml,md}": ["prettier --write"],
  "*.{js,json,ts}": ["eslint --fix"]
}

fix(deps): :arrow_up: update dependency @actions/github to ^5.1.0
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e964f0539bc72f9c4c499b983b72ca75bdd3c7e4
Due: none

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency typescript to ^4.8.4
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update actions/setup-node action to v3.5.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c77557eebc915093bd50477fe9a42b10ced0ae97
Due: none

chore(deps): :arrow_up: update actions/checkout action to v3.1.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): :arrow_up: update actions/setup-node action to v3.5.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

fix(deps): :arrow_up: update dependency @actions/cache to ^3.0.5
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  f32eb422846185ae14a42198d7f95c89dd4ad677
Due: none

fix(deps): :arrow_up: update dependency @actions/cache to ^3.0.6
  package-lock.json
  package.json
Due: eslint --fix

chore(release): :package: 2.0.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  bcf70f44a538ab6c5d0c5fcc62d2ee98716eba91
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: eslint --fix

chore(deps): :arrow_up: update all non-major dev dependencies to ^17.2.0
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency husky to ^8.0.2
  package-lock.json
  package.json
Due: eslint --fix
