Repository ng-easy/npm-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{yml,md}": ["prettier --write"],
  "*.{js,json,ts}": ["eslint --fix"]
}

chore(deps): :arrow_up: update all non-major dev dependencies to ^17.4.2
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency rimraf to v4
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency rimraf to v4 (#351)
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update dependency rimraf to ^4.0.5
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update client tooling
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): :arrow_up: update jest monorepo to v29
  package-lock.json
  package.json
Due: eslint --fix

fix(deps): :arrow_up: update dependency fs-extra to v11
  package-lock.json
  package.json
Due: eslint --fix

feat(node): :bug: upgrade to node16 action (#344)
  action.yml
  dist/main/index.js
  dist/main/thread.js
  dist/post/index.js
  dist/post/thread.js
  package.json
Due: prettier --write, eslint --fix

chore: replace rimraf by del-cli
  dist/main/index.js
  dist/main/thread.js
  dist/post/index.js
  dist/post/thread.js
  package-lock.json
  package.json
Due: eslint --fix

feat(node): :bug: upgrade to node16 action (#344) (#354)
  action.yml
  dist/main/index.js
  dist/post/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: upgrade semantic release action
  .github/workflows/release.yml
Due: prettier --write

chore(release): :package: 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8949b794f1be0181f6d601f07f246ef398c09a64
Due: none

feat: upgrade to node 18
  action.yml
Due: prettier --write

feat: upgrade to node 20
  action.yml
Due: prettier --write

chore(release): :package: 4.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  855ac8482022271650c1b9c7f7bd98f485bba7d8
Due: none
